<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>My test page</title>
        {% load static %} 
        {% load bootstrap5 %} 
        {% bootstrap_css %} 
        {%bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    </head>
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <a style="color: #2D2D2D;" class="navbar-brand" href="#">Finiance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/savings">Savings</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/expenses">Expenses</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/accountinfo">Account Information</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/resources">Resources</a>
            </li>
              {% if not user.is_authenticated %} 
                <li class="nav-item">
                    <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/login/login">Login</a>
                </li>
              {%endif%}
          </ul>
        </div>
      </div>
    </nav>
    <body  style="background-color: #3D0066;">
      <div class="p-5">
       <div class="mt-5 p-5 rounded" style="background-color: #FAF9F6;">
        <h2 class="fw-bold text-secondary text-center" style="text-shadow: 3px 3px 3px #CCCCFF;">History</h2>
        <div class="container rounded shadow" style="border: 1px solid #0096FF;">
            <h4 class=" p-2" style="color: #0096FF;">Savings</h4>
            <table class="table table-bordered table-striped text-white text-center rounded" style="border-color: #0096FF;">

                <tr>
                  <th style="color: #0096FF; font-weight: bolder;">Category</th>
                  <th style="color: #0096FF; font-weight: bolder;">Ammount Saved</th>
                  <th style="color: #0096FF; font-weight: bolder;">Date</th>
                </tr>
                <tr>
                  <td style="color: #0096FF;">Home Down Payment</td>
                  <td style="color: #0096FF;">$3000</td>
                  <td style="color: #0096FF;">2/02/25</td>
                </tr>
                <tr>
                  <td style="color: #0096FF;">Car Fund</td>
                  <td style="color: #0096FF;">$2000</td>
                  <td style="color: #0096FF;">1/02/25</td>
                </tr>
                <tr>
                  <td style="color: #0096FF;">Emergency Fund</td>
                  <td style="color: #0096FF;">$1500</td>
                  <td style="color: #0096FF;">12/26/24</td>
                </tr>
                <tr>
                  <td style="color: #0096FF;">Vacation Fund</td>
                  <td style="color: #0096FF;">$1000</td>
                  <td style="color: #0096FF;">6/26/24</td>
                </tr>
                <tr>
                  <td style="color: #0096FF;">Education Savings</td>
                  <td style="color: #0096FF;">$500</td>
                  <td style="color: #0096FF;">08/06/24</td>
                </tr>
                <tr>
                  <td style="color: #0096FF;">Tech Upgrade</td>
                  <td style="color: #0096FF;">$500</td>
                  <td style="color: #0096FF;">3/10/25</td>
                </tr>
              </table>

        </div>
        <div class="container mt-5 rounded shadow" style="border: 1px solid #C41E3A;">
            <h4 class="p-2" style="color: #C41E3A;">Expenses</h4>
            <table class="table table-bordered table-striped text-white text-center rounded" style="border-color: #C41E3A;">

                <tr>
                  <th style="color: #C41E3A; font-weight: bolder;">Category</th>
                  <th style="color: #C41E3A; font-weight: bolder;">Ammount</th>
                  <th style="color: #C41E3A; font-weight: bolder;">Type</th>
                  <th style="color: #C41E3A; font-weight: bolder;">Date</th>
                </tr>
                <tr>
                  <td style="color: #C41E3A;">Mortgage</td>
                  <td style="color: #C41E3A;">$1000</td>
                  <td style="color: #C41E3A;">Yearly</td>
                  <td style="color: #C41E3A;">2/02/25</td>
                </tr>
                <tr>
                  <td style="color: #C41E3A;">Car loan</td>
                  <td style="color: #C41E3A;">$2000</td>
                  <td style="color: #C41E3A;">Monthly</td>
                  <td style="color: #C41E3A;">1/02/25</td>
                </tr>
                <tr>
                  <td style="color: #C41E3A;">Emergency Fund</td>
                  <td style="color: #C41E3A;">$1500</td>
                  <td style="color: #C41E3A;">Weekly</td>
                  <td style="color: #C41E3A;">12/26/24</td>
                </tr>
                <tr>
                  <td style="color: #C41E3A;">Netflix</td>
                  <td style="color: #C41E3A;">$15</td>
                  <td style="color: #C41E3A;">Monthly</td>
                  <td style="color: #C41E3A;">6/26/24</td>
                </tr>
                <tr>
                  <td style="color: #C41E3A;">Hulu</td>
                  <td style="color: #C41E3A;">$100</td>
                  <td style="color: #C41E3A;">Monthly</td>
                  <td style="color: #C41E3A;">08/06/24</td>
                </tr>
                <tr>
                  <td style="color: #C41E3A;">Car Insurance</td>
                  <td style="color: #C41E3A;">$300</td>
                  <td style="color: #C41E3A;">Yearly</td>
                  <td style="color: #C41E3A;">3/10/25</td>
                </tr>
              </table>

        </div>
       </div>
      </div>
    </body>
</html>
