<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
  </head>
  <nav>
    <div>
        
        <ul>
            <li><p>Finiance</p></li>
            <li class="link"><a href="http://127.0.0.1:8000/">Home</a></li>
            <li class="link"><a href="http://127.0.0.1:8000/savings">Savings</a></li>
            <li class="link"><a href="http://127.0.0.1:8000/expenses">Expenses</a></li>
            <li class="link"><a href="http://127.0.0.1:8000/subscriptions">Subscriptions</a></li>
            <li class="link"><a href="http://127.0.0.1:8000/accountinfo">Account Info</a></li>
            <li class="link"><a href="http://127.0.0.1:8000/login/login">Log In</a></li>
        </ul>
    </div>
</nav>
  <body>
    

    <div class="section1">
        <div class=" row justify-content-center">
            <div class="col mt-5">
                <h1 class="heading">Welcome User!</h1>
                <p class="textblue">Would you like assistance saving or budgeting</p>
                <p class="textblue">Would you like to see how different Expenses will affect you?</p>
            </div>
            <div class="col">
                <img style="width: 400px; height: 400px; border-radius: 50%;" src="{% static 'home/images/finance.jpeg' %}"/>
               
          </div>
        </div>
    </div>

    <div class="row ms-5 mt-5 mb-3">
        <div class="col">
        <div class="card" style="width: 25rem; background-color: #1E3A5F;">
            <img src="{% static 'home/images/savings.webp' %}" class="card-img-top savingsimg" alt="...">
            <div class="card-body">
                <h4 class="heading">Savings</h4>
                <p class="textblue"> Would you like to see more about savings?</p>
                <p class="textblue">Click here to go see more information on savings</p>
                <button> Savings</button>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="width: 25rem; background-color: #1E3A5F;">
                <img src="{% static 'home/images/expenses.jpeg' %}" class="card-img-top savingsimg" alt="...">
                <div class="card-body">
                    <h4 class="heading">Expenses</h4>
                    <p class="textblue">  Would you like to see more about your expenses?</p>
                    <p class="textblue">Click here to go see more information on your expenses</p>
                    <button> Expenses</button>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card" style="width: 25rem; background-color: #1E3A5F;">
                    <img src="{% static 'home/images/history.png' %}" class="card-img-top savingsimg" alt="...">
                    <div class="card-body">
                        <h4 class="heading">history</h4>
                        <p class="textblue">  Would you like to see you expenses history?</p>
                        <p class="textblue">Click here to go see more information on your history</p>
                        <button> History</button>
                    </div>
                  </div>
                </div>
       
       </div>
    <div class="mt-5 section1">
        <div class="row">
            <div class="col">
                <img style=" border-radius: 50%; width: 400px; height: 400px;" src="{% static 'home/images/mascot2.JPG' %}"/>
               
            </div>
            <div class="col">
                <h1 class="heading">About</h1>
                <p class="textblue">This site aims to help you learn more about savings</p>
                <p class="textblue">We also aim to provide assistance with seeing your current expenses with subscriptions</p>
                <p class="textblue">We aim to help provide assistance to people to help them save money and try to make good financial decisions based on their current pay and current expenses</p>
            </div>
           
        </div>
    </div>
  </body>
</html>
