# Ignore all __pycache__ directories
**/__pycache__/
**/migrations

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore the database
*.sqlite3
savings/migrations/0002_rename_goal_amount_savingsgoal_payment_amount.py
