:root{
    --blue: #1E3A5F;
    --yellow: #DFBC00;
    --white:#fff;
    --light-blue: #708090;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.create-title{
    padding-top: 20px;
    text-transform: uppercase;
    color: var(--blue);
    font-weight: bold;

}
body{
    background-color: var(--white);
}