:root{
    --blue: #1E3A5F;
    --yellow: #DFBC00;
    --white:#fff;
    --light-blue: #708090;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.create-title{
    padding-top: 20px;
    text-transform: uppercase;
    color: var(--blue);
    font-weight: bold;

}
body{
    background-color: var(--white);
}

nav{
    position:fixed;
    background-color: white;
   top:0%;
   width:100%;
}
nav p{
    display: inline;
   
}
nav ul {
    display: flex;
}
nav ul li {
    font-size: larger;
    list-style: none;
    margin-right: 50px;
}
.link a {
    text-decoration: none;
    color:gray;
}