body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F8F8FF;
}


.savingsimg{
    width: 400px;
    height: 300px;
}
nav{
    position:fixed;
    background-color: #FAF9F6;
    top:0;
   width:100%;
   color: #2D2D2D;
}
nav p{
    display: inline;
   
}
nav ul {
    display: flex;
}
nav ul li {
    font-size: larger;
    list-style: none;
    margin-right: 50px;
}
.link a {
    text-decoration: none;
    color: #2D2D2D;
}
.section1{
    margin-top: 3%;
    background-color: #3D0066;
    padding: 3%;
    color: white;
}
.heading{
    color: #FFD700;
    font-weight: bold;
}
.list{
    list-style: none;
}

.section2{
    padding: 1.5%;
    background-color:  #C38CC3;
    text-align: center;
}
/*
#FFCDA2
#008080
*/
.interior{
    border: 2px solid #2D2D2D;
    padding: 1%;
    color: #2D2D2D;
    font-weight: bold;
}

.section3{
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;

}

.section4{
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #C38CC3;
}

.atag {
    text-decoration: none;
    color: #2D2D2D;
    display: inline-block; /* Ensures transform works properly */
    transition: background-color 0.3s, color 0.3s;
}

.atag:hover {
    background-color: #3D0066;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    animation: spin 3s ease-out forwards infinite; /* Spins once on hover */
    scale: 10;
    padding: 2%;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}


