body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F8F8FF;
}


.savingsimg{
    width: 400px;
    height: 300px;
}
nav{
    position:fixed;
    background-color: #FAF9F6;
    top:0;
   width:100%;
   color: #2D2D2D;
}
nav p{
    display: inline;
   
}
nav ul {
    display: flex;
}
nav ul li {
    font-size: larger;
    list-style: none;
    margin-right: 50px;
}
.link a {
    text-decoration: none;
    color: #2D2D2D;
}
.section1{
    margin-top: 3%;
    background-color: #3D0066;
    padding: 3%;
    color: white;
}
.heading{
    color: #FFD700;
    font-weight: bold;
}
.list{
    list-style: none;
}

.section2{
    padding: 1%;
    background-color:  #C38CC3;
    text-align: center;
}
/*
#FFCDA2
#008080
*/
.interior{
    border: 2px solid #2D2D2D;
    padding: 1%;
    color: #2D2D2D;
    font-weight: bold;
}

.section3{
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;

}

.section4{
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #C38CC3;
}
.cardtop{
    background-color: #662d91; 
    border: 1px solid #2D2D2D;
    color: #F8F8FF;
    transition: 0.5s;
}
.cardtop h5{
    font-weight: bold;
}
.cardbutton{
    background-color: #00308F; 
    border: 1px solid #2D2D2D; 
    color: white;
    transition: 0.5s;
}
.cardbutton:hover{
    background-color: #662d91;
    color: #F8F8FF;
    transition: 0.5s;
}
.cardtop:hover{
    background-color:#6CB4EE;
    color: #2D2D2D;
    transition: 0.5s;
}

.atag {
    text-decoration: none;
    color: #2D2D2D;
    display: inline-block; /* Ensures transform works properly */
    transition: 1s;
    font-size: large;
}

.atag:hover {
    background-color: #3D0066;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    scale: 1.5;
    padding: 0.5%;
    transition: 1s;
    
}

.headersub{
    background-color: #3D0066;
    padding: 3%;
    color: #F8F8FF;
}



.resimg{
    width: 500px; 
    height: 300px;
    transition: 1s;
 
}
.resimg:hover{
    scale: 1.5;
    margin-left: 10px;
}