<head>
    <title>Signup</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'login/signup.css' %}">
</head>
<body>
    <div class="container-fluid bg-secondary text-dark py-3 text-center mb-5" >
        <h1 class="create-title">Create an Account</h1>
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <br>
   <section class="container my-3 pb-4 bg-light w-50 text-dark text-center border border-dark rounded-3">
    <form method="POST" class="row g-3 mt-2">
        {% csrf_token %}
        <div class="col-md-6 text-start">
            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username" required><br>
        </div>
        <div class="col-md-6  text-start">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" required><br>
        </div>    
        <div class="col-md-12  text-start">
            <label for="password1">Password:</label>
            <input type="password" name="password1" class="form-control" required><br>
        </div>
        <div class="col-md-12  text-start">
            <label for="password2">Confirm Password:</label>
            <input type="password" name="password2" class="form-control" required><br>
        </div>
        <div class="col-12 text-center mb-3">
            <button type="submit" class="btn btn-warning">Sign Up</button>
        </div>
    </form>
    <a href="{% url 'login' %}" class="text-decoration-none">Already have an account? Login here.</a>
   </section>
    
</body>
</html>
