<head>
    <title>Signup</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'login/signup.css' %}">
</head>
<body>

    <nav>
        <div>
            
            <ul>
                <li><p>Finiance</p></li>
                <li class="link"><a href="http://127.0.0.1:8000/">Home</a></li>
                <li class="link"><a href="http://127.0.0.1:8000/savings">Savings</a></li>
                <li class="link"><a href="http://127.0.0.1:8000/expenses">Expenses</a></li>
                <li class="link"><a href="http://127.0.0.1:8000/subscriptions">Subscriptions</a></li>
                <li class="link"><a href="http://127.0.0.1:8000/accountinfo">Account Info</a></li>
                <li class="link"><a href="http://127.0.0.1:8000/login/login">Log In</a></li>
            </ul>
        </div>
    </nav>
    <div class="container text-dark pt-3 text-center mb-5 mt-5" >

        <h1 class="create-title">Create an Account</h1>
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <br>
   <section class="container my-3 py-4 bg-light w-50 text-dark text-center border border-dark border-1 rounded-3">
    <form method="POST" class="row g-3 mt-2 ps-3 pe-3">
        {% csrf_token %}
        <div class="col-md-6 text-start">
            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username" required><br>
        </div>
        <div class="col-md-6  text-start">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" required><br>
        </div>    
        <div class="col-md-12  text-start">
            <label for="password1">Password:</label>
            <input type="password" name="password1" class="form-control" required><br>
        </div>
        <div class="col-md-12  text-start">
            <label for="password2">Confirm Password:</label>
            <input type="password" name="password2" class="form-control" required><br>
        </div>
        <div class="col-12 text-center mb-3">
            <button type="submit" class="btn btn-warning fw-bold">Sign Up</button>
        </div>
    </form>
    <a href="{% url 'login' %}" class="text-decoration-none fw-bold">Already have an account? Login here.</a>
   </section>
    
</body>
</html>
