<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %} 
  {% load bootstrap5 %} 
  {% bootstrap_css %} 
  {%bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'home/style.css' %}" />
</head>
<nav>
  <div >
    <ul>
      <li>
        <p>Finiance</p>
      </li>
      <li class="link"><a href="http://127.0.0.1:8000/">Home</a></li>
      <li class="link">
        <a href="http://127.0.0.1:8000/savings">Savings</a>
      </li>
      <li class="link">
        <a href="http://127.0.0.1:8000/expenses">Expenses</a>
      </li>
      <li class="link">
        <a href="http://127.0.0.1:8000/accountinfo">Account Info</a>
      </li>
      <li class="link">
        <a href="http://127.0.0.1:8000/resources">Resources</a>
    </li>
      <li class="link">
        <a href="http://127.0.0.1:8000/login/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>
  <body >
    <div class="bg-light">
      <div class="container mt-5 text-center bg-success text-white py-5 rounded-3 border-1 border-light">
        <h2 class="text-center">ADD AN EXPENSE</h2>
        <form method="post" class="col-md-12">
          {% csrf_token %}
            {{ form.as_p }}
        </form>
        <div class="mt-4">
          <button type="submit" class="bg-light text-dark border btn-sm border-1 border-dark rounded-3">Save Expense</button>
          <a href="{% url 'expenses' %}" class="text-decoration-none text-white">View All Expenses</a>
        </div>
      </div>
     

    </div>
      
  </body>
</html>