<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %} 
  {% load bootstrap5 %} 
  {% bootstrap_css %} 
  {%bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'home/style.css' %}" />
</head>
<nav>
  <div >
    <ul>
      <li>
        <p>Finiance</p>
      </li>
      <li class="link"><a href="http://127.0.0.1:8000/">Home</a></li>
      <li class="link">
        <a href="http://127.0.0.1:8000/savings">Savings</a>
      </li>
      <li class="link">
        <a href="http://127.0.0.1:8000/expenses">Expenses</a>
      </li>
      <li class="link">
        <a href="http://127.0.0.1:8000/subscriptions">Subscriptions</a>
      </li>
      <li class="link">
        <a href="http://127.0.0.1:8000/accountinfo">Account Info</a>
      </li>
      <li class="link">
        <a href="http://127.0.0.1:8000/login/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>
  <body >
      <div class="d-flex justify-content-center align-items-center vh-100 ">
        <div class="container mt-5 text-center text-white py-5 px-5 rounded-3 border-1 border-dark" style="background-color: #3D0066; max-width: 1000px; box-shadow: 3px 9px 10px rgba(0,0,0,0.5);" >
          <h2 class="text-center mb-5 text-warning ">ADD AN EXPENSE</h2>
          <form method="post" class="col-md-12">
            {% csrf_token %}
              {{ form.as_p }}
          </form>
          <div class="mt-4">
            <button type="submit" class="bg-warning text-light border btn-sm border-1 border-dark rounded-3 me-2" style="letter-spacing: 1.5px;">SAVE EXPENSE</button>
            <a href="{% url 'expenses' %}" class="text-decoration-none text-warning">VIEW ALL EXPENSES</a>
          </div>
        </div>
      </div>
    
      
  </body>
</html>