<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Expenses</title>
    {% load static %} {% load bootstrap5 %} {% bootstrap_css %}
    {%bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <a style="color: #2d2d2d" class="navbar-brand" href="#">Finiance</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                style="color: #2d2d2d"
                class="nav-link active"
                aria-current="page"
                href="http://127.0.0.1:8000/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                style="color: #2d2d2d"
                class="nav-link"
                href="http://127.0.0.1:8000/savings"
                >Savings</a
              >
            </li>
            <li class="nav-item">
              <a
                style="color: #2d2d2d"
                class="nav-link"
                href="http://127.0.0.1:8000/expenses"
                >Expenses</a
              >
            </li>
            <li class="nav-item">
              <a
                style="color: #2d2d2d"
                class="nav-link"
                href="http://127.0.0.1:8000/accountinfo"
                >Account Information</a
              >
            </li>
            <li class="nav-item">
              <a
                style="color: #2d2d2d"
                class="nav-link"
                href="http://127.0.0.1:8000/resources"
                >Resources</a
              >
            </li>
            {% if not user.is_authenticated %} 
                <li class="nav-item">
                    <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/login/login">Login</a>
                </li>
              {%endif%}
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <div
      class="container py-4 text-center rounded-3 text-white"
      style="
        background-color: #3d0066;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        margin-top: 5%;
      "
    >
      <h2 class="text-warning">YOUR EXPENSES</h2>
      <ul class="list-unstyled text-start ps-3 pe-3">
        {% for expense in recent_expenses %}
        <li
          class="text-capitalize d-flex justify-content-between align-items-center mb-3"
        >
          <span class="text-capitalize ms-3">
            {{ expense.label }} : ${{ expense.amount }}
          </span>
          <form
            action="{% url 'expenses:delete_onetime_expense' expense.id %}"
            method="POST"
            style="display: inline"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-warning text-white fw-bold">
              Delete
            </button>
          </form>
        </li>
        {% empty %}
        <li>No expenses recorded yet.</li>
        {% endfor %}
      </ul>
      <a
        href="{% url 'expenses:add_expense' %}"
        class="text-decoration-none text-white btn mt-5 "
        style="letter-spacing: 2px; background-color: goldenrod;"
        >ADD NEW EXPENSE</a
      >
      <br /><br />
      <div class="mt-5">
        <div class="container pt-3 pb-5 mb-2">
          <div class="row">
            <div class="col border border-2 border-warning rounded-2 me-3 ms-3">
              <h4 class="fw-bold" style="letter-spacing: 2px">Daily</h4>
              <ul class="list-unstyled">
                <li>Something for daily</li>
                <li>Something for daily</li>
                <li>Something for daily</li>
              </ul>
            </div>
            <div class="col border border-2 border-warning rounded-2 me-3">
              <h4 class="fw-bold" style="letter-spacing: 2px">Weekly</h4>
              <ul class="list-unstyled">
                <li>Something for weekly</li>
                <li>Something for weekly</li>
                <li>Something for weekly</li>
              </ul>
            </div>
            <div class="col border border-2 border-warning rounded-2 me-3">
              <h4 class="fw-bold" style="letter-spacing: 2px">Yearly</h4>
              <ul class="list-unstyled">
                <li>Something for yearly</li>
                <li>Something for yearly</li>
                <li>Something for yearly</li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <form action="{% url 'expenses:create_category' %}" method="POST">
            {% csrf_token %}

            <label for="id_name">Category Name: </label>
            {{ category_form.name }} {% for error in category_form.name.errors %}
            <p>{{ error }}</p>
            {% endfor %}

            <button type="submit" style="width: 10%; color: white; letter-spacing: 1px; background-color: goldenrod;" >Submit</button>
          </form>

          {% for category in categories %}
          <p>{{ category.name }}</p>
          {% endfor %}
        </div>
      </div>
      <!--Breakdown section-->
      <!--will have a pie chart-->

            <!--alerts and history section-->
            <!--import excel sheet-->
            <!-- Import Expenses Button -->
            <div class="mt-5">
                <form action="{% url 'expenses:import_expenses' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn text-white " style="background-color: goldenrod; width: 20%;">Import Expenses</button>
                </form>
            </div>
        </div>
    </body>
</html>
