<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>My test page</title>
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {%bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'resources/style.css' %}" />
</head>
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <a style="color: #2D2D2D;" class="navbar-brand" href="#">Finiance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/savings">Savings</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/expenses">Expenses</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/accountinfo">Account Information</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/resources">Resources</a>
            </li>
              {% if not user.is_authenticated %} 
                <li class="nav-item">
                    <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/login/login">Login</a>
                </li>
              {%endif%}
          </ul>
        </div>
      </div>
    </nav>


<body style="margin-top: 3%;">
  <div class="headersub text-center">
    <div >
      <h1>Article Resources</h1>
    </div>
    
  </div>

  <div class="row ms-5 mt-5 shadow p-3 me-5 mb-5">
    <h5 class="fw-bold p-2">Articles</h5>
    {% for articl in articleArray %}
      <div class="col-sm-4 mb-sm-3" >
        <div class="card cardtop w-75" style="height: 220px;">
          <div class="card-body">
            <h5 class="card-title">{{articl.name}}</h5>
            <p class="card-text">{{articl.description}}</p>
            <a href="{{articl.link}}" class="btn cardbutton mt-5" >Article Link!</a>
          </div>
        </div>
      </div>

    {%endfor%}
  </div>


</body>

</html>

