<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>My test page</title>
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {%bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'resources/style.css' %}" />
</head>
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
      <div class="container-fluid">
        <a style="color: #2D2D2D;" class="navbar-brand" href="#">Finiance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/savings">Savings</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/expenses">Expenses</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/accountinfo">Account Information</a>
            </li>
            <li class="nav-item">
              <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/resources">Resources</a>
            </li>
            {% if not user.is_authenticated %} 
            <li class="nav-item">
                <a style="color: #2D2D2D;" class="nav-link" href="http://127.0.0.1:8000/login/login">Login</a>
            </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </nav>


<body style="margin-top: 3%;">
  <div class="text-center headersub">
    <div>
      <h1>Image Resources</h1>
    </div>
  </div>
</body>
<div class="p-5">
  <h5 class="fw-bold">Images</h5>
    <div class="row">
      {% for image in imageArray %}
        <div class="col-sm-4 mb-sm-5" >
          <img src="{{image.link}}" style="width: 500px; height: 300px;"/>
        </div>
      {%endfor%}
    </div>
</div>

</html>

