.circle1{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.circle2{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background: conic-gradient(#DB93B0 0deg 172deg, #9046CF 172deg 249deg, #2D2A32 249deg 313deg, #AB3428 313deg 333deg, #6FD872 333deg 347deg, #002A22 347deg 360deg);
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F8F8FF;
}

nav{
    background-color: #F8F8FF;
    top:0%;
    width:100%;
    color: #2D2D2D;

}
nav p{
    display: inline;
    color: #2D2D2D;

   
}
nav ul {
    display: flex;
}
nav ul li {
    font-size: larger;
    list-style: none;
    margin-right: 50px;
    color: #2D2D2D;

}
.link a {
    text-decoration: none;
    color: #2D2D2D;
}
.section1{
    margin-top:2%;
    padding: 5%;
    background-color: #3D0066;
    
}
ol {
    font-size: x-large;
    list-style: none;
   color: white;
}
.hello{
    margin-top: 50px;
}
.section2{
    padding: 5%;
}
.line{
    width: 500px;
    height: 500px;
}

.heading{
    color: #D4AF37;
    font-weight: bold;
}
button{
    background-color: #D4AF37;
    color: #2D2D2D;
    font-weight: bold;
}
.section2{
    margin-top:3%;
    background-color: #3D0066;
    padding: 2%;
    
}