.circle1{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: #DFBC00;
}
.circle2{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: #DFBC00;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    position:fixed;
    background-color: white;
   top:0%;
   width:100%;
}
nav p{
    display: inline;
   
}
nav ul {
    display: flex;
}
nav ul li {
    font-size: larger;
    list-style: none;
    margin-right: 50px;
}
.link a {
    text-decoration: none;
    color:gray;
}
.section1{
    margin-top:3%;
    background-color: #1E3A5F;
    padding: 5%;
    
    
}
ol {
    font-size: x-large;
    list-style: none;
   color: white;
}
.hello{
    margin-top: 100px;
}
.section2{
    padding: 5%;
}
.line{
    width: 500px;
    height: 500px;
}

